<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>name1</servlet-name>
        <servlet-class>cl1</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>name2</servlet-name>
        <servlet-class>cl2</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PrimitiveServlet</servlet-name>
        <servlet-class>com.huai.test.PrimitiveServlet</servlet-class>
    </servlet>
</web-app>